.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .itemDetails {
    flex: 1;
  }
  
  .quantityControls {
    display: flex;
    align-items: center;
  }
  
  .quantityButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .totalPrice {
    font-weight: bold;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }