
.container {
  display: flex;
}

.side {
  padding: 20px;
}


.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.gamesImg {
  width: 100px;
  aspect-ratio: 5/7;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.cartDetails {
  padding: 20px;
}

.cartDD {
  color: #7e7e7e;
}


.cartCount {
  display: flex;
  padding: 20px;
}

.plus {
  padding: 20px;
  cursor: pointer;
}

.count {
  padding: 20px;
}

.minus {
  padding: 20px;
  cursor: pointer;
}

.cartDel {
  padding: 20px;
  cursor: pointer;
}