body {
  background-color: rgb(34, 40, 53);
}



/* .custom_scroll::-webkit-scrollbar {
  width: 5px;
  height: 120%;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(252, 252, 252, 0.457);
  border-radius: 12px
}

.custom_scroll {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
} */